<div class="drink-name">{{name}}</div>
<ul class="ingredient-list">
  {{#each ingredients}}
  {{ingredient this}}
  {{/each}}
</ul>
{{#if source.name}}
<div class="source">
  source:
  {{#if source.url}}
  <a href="{{{source.url}}}" class="source-name" target="_blank">{{source.name}}</a>
  {{else}}
  <div class="source-name">{{source.name}}</div>
  {{/if}}
</div>
{{/if}}